<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/img/favicon.png">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @if (ViewBag.Title != "NUJ - Login" && ViewBag.Title != "NUJ - Register")
    {
        <header class="main_menu">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                                <img src=@Url.Content("~/img/logo-fix.png") alt="logo">
                            </a>

                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse main-menu-item justify-content-center" id="navbarSupportedContent">
                                <ul class="navbar-nav align-items-center">

                                    <li class="nav-item active">
                                        <a class="nav-link" href="~/">Home</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="~/home/about">About</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="~/home/members">Executives</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="~/home/Blog">Blog</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="~/home/contact">Contact</a>
                                    </li>

                                    @Html.Partial("_LoginPartial")

                                </ul>
                            </div>

                        </nav>
                    </div>
                </div>
            </div>
        </header>
     }

    <div class="body-content">
        @RenderBody()
    </div>

    @if (ViewBag.Title != "NUJ - Login" && ViewBag.Title != "NUJ - Register")
    {
        <!-- footer part start-->
        <footer class="footer-area">
            <div class="footer section_padding">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-xl-4 col-md-4 col-sm-6 single-footer-widget">
                            <a href="#" class="footer_logo"> <img src="~/img/logo-fix.png" alt="#"> </a>
                            <p>Nigeria Union of Journalists founded on the 15th of March, 1955 in Lagos, was linked to the struggle for the independence of Nigeria.</p>
                            <div class="social_logo">
                                <a href="#"><i class="ti-facebook"></i></a>
                                <a href="#"> <i class="ti-twitter"></i> </a>
                                <a href="#"><i class="ti-instagram"></i></a>
                            </div>
                        </div>
                        <div class="col-xl-2 col-sm-6 col-md-4 single-footer-widget">
                            <h4>Quick Links</h4>
                            <ul>
                                <li>@Html.ActionLink("About", "about")</li>
                                <li>@Html.ActionLink("Members", "members")</li>
                                <li>@Html.ActionLink("News/Blog", "news")</li>
                            </ul>
                        </div>
                        <div class="col-xl-4 col-sm-6 col-md-6 single-footer-widget">
                            <h4>Our Press Centre</h4>
                            <p>Iyaganku Government Reservation Area, GRA Ibadan.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="copyright_part">
                <div class="container">
                    <div class="row align-items-center">
                        <p class="footer-text m-0 col-lg-8 col-md-12">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy; NUJ OYO STATE CHAPTER
                            <script>document.write(new Date().getFullYear());</script>. All rights reserved
                        </p>
                        <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
                            <a href="#"><i class="ti-facebook"></i></a>
                            <a href="#"> <i class="ti-twitter"></i> </a>
                            <a href="#"><i class="ti-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
     }

        @Scripts.Render("~/bundles/js")
        @RenderSection("scripts", required: false)

    </body>
</html>
