@using NUJ_Oyo_State.Models
@model LoginViewModel
@{
    ViewBag.Title = "NUJ - Login";
}
    <link href="~/Content/auth.css" rel="stylesheet" />

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="login-wrap box-padding">
                            <div class="login-wrap-inner">
                                <div class="login-wrap-head text-center">
                                    <h2>{..<img /> logo goes into here..}</h2>

                                    <p>Welcome back</p>
                                </div>

                                <div class="login-box">
                                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            <label for="Email">Email</label>
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group">
                                            <label for="Password">Password</label>
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group">
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                            @Html.LabelFor(m => m.RememberMe)
                                        </div>
                                        <button type="submit" class="btn my-3 btn-block btn-primary">LOGIN</button>
                                    }

                                <p class="text-center my-2">Don't have an account? @Html.ActionLink("Create one", "Register") </p>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}