@model IEnumerable<NUJ_Oyo_State.Models.MembershipRequestVM>

@{
    ViewBag.Title = "NUJ - Membership Requests";
}

<style>
    .hideLoader {
        display: none;
    }

    .showLoader {
        display: inherit !important;
    }
</style>

<section class="padding_top">
    @if (Model.Count() == 0)
    {
        <h5>There are currently no request</h5>
    }
    else if (Model.Count() == 1)
    {
        if (TempData["SM"] != null)
        {
            if (TempData["SM"].ToString().Contains("successfully"))
            {
                <div class="alert alert-success">
                    @TempData["SM"]
                </div>
            }
            else
            {
                <div class="alert alert-danger">
                    @TempData["SM"]
                </div>
            }
        }

        foreach (var item in Model)
        {
            <div>
                <span class="font-weight-bold">@item.MembershipId</span>
                <span><img src="@item.ImageString" /></span>
            </div>
            <div class="row">
                <div class="col-1 col-md-6">
                    <p>Name: @item.FirstName.ToUpper() @item.OtherNames</p>
                    <p>Gender: @item.Gender</p>
                    <p>Date of Birth: @item.DOB</p>
                    <p>State of Origin: @item.StateOfOrigin</p>
                    <p>Phone: @item.Phone</p>
                    <p>Email: @item.Email</p>
                </div>
                <div class="col-1 col-md-6">
                    <p>Address: @item.Address</p>
                    <p>City: @item.City</p>
                    <p>State: @item.State</p>
                    <p>Zip: @item.Zip</p>
                    <p>Branch: @item.Branch</p>
                    <p>Designation: @item.Designation</p>
                </div>
            </div>
        }
    }
    else
    {
        if (TempData["SM"] != null)
        {
            if (TempData["SM"].ToString().Contains("successfully"))
            {
                <div class="alert alert-success">
                    @TempData["SM"]
                </div>
            }
            else
            {
                <div class="alert alert-danger">
                    @TempData["SM"]
                </div>
            }
        }

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <h2 class="font-weight-bold">Requests</h2>

        <div class="text-right">
            <img class="loader hideLoader" src="~/img/loader.gif" style="height:auto; width:36px; margin-right:36px;" />
        </div>

        <table id="cart" class="table table-hover table-condensed cart">
            <thead class="thead-dark">
                <tr>
                    <th style="width: 35%">Name</th>
                    <th style="width: 10%">Member Id</th>
                    <th style="width: 14%">Branch</th>
                    <th style="width: 14%">Designation</th>
                    <th style="width: 5%">Status</th>
                    <th style="width: 22%"></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td data-th="Name">
                            <p>@item.FirstName.ToUpper()  @item.OtherNames</p>
                        </td>
                        <td data-th="Member Id">
                            <p>@item.MembershipId</p>
                        </td>
                        <td data-th="Branch">
                            <p>@item.Branch</p>
                        </td>
                        <td data-th="Designation">
                            <p>@item.Designation</p>
                        </td>
                        <td dath-th="Status">
                            @if (item.UserApproved == true)
                            {
                                <p class="text-primary">Approved</p>
                            }
                            else if (item.UserApproved == false)
                            {
                                <p class="text-danger">Declined</p>
                            }
                            else
                            {
                                <p class="text-info">Pending</p>
                            }
                        </td>
                        <td class="actions" data-th="">
                            @if (item.UserApproved == true)
                            {
                                <div>
                                    <a href="~/account/requests/@item.Id" class="text-primary">View Details</a> |

                                    <a href="" class="text-danger" onclick="ResendConfirmEmail(@item.Id)">Re-send Notification</a>
                                </div>
                            }
                            else if (item.UserApproved == false)
                            {
                                <div>
                                    <a href="~/account/requests/@item.Id" class="text-primary">View Details</a> |

                                    <a href="" class="text-danger" onclick="ResendDeclineEmail(@item.Id)">Re-send Notification</a>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <a href="~/account/requests/@item.Id">Details</a> |

                                    @Html.ActionLink("Approve", "Approve", new { id = @item.Id }) |

                                    <a href="" onclick="declineMember(@item.Id)">Decline</a>
                                </div>
                            }
                        </td>
                    </tr>
                </tbody>
            }

            @*<tfoot>
                <tr>
                    <td colspan="5" class="hidden-xs"></td>
                    <td>
                        <a href="#" class="text-primary">Approve All Pending</a>
                    </td>
                </tr>
            </tfoot>*@
        </table>
    }

</section>


<script>
    $(document).ajaxStart(function () {
        $(".loader").show();
        $('.loader').addClass('showLoader')
    });

    $(document).ajaxStop(function () {
        $(".loader").hide();
    });

    function declineMember(memberId) {
        var txt = prompt("Please provide a comment", "This member is not recognized.");
        if (txt == null || txt == "") {
            return false;
        } else {
            var data = { "id": memberId, "reason": txt }
            $.ajax({
                type: "GET",
                url: "/account/decline/",
                cache: false,
                dataType: "text",
                data: data
            }).always(function (msg) {
                $('.loader').addClass('showLoader')
                alert(msg);
                window.location.reload()
            });
        }
    }

    function ResendConfirmEmail(memberId) {
        $.ajax({
            type: "GET",
            url: "/account/confirm-again/",
            cache: false,
            dataType: "text",
            data: { id: memberId }
        }).done(function (msg) {
            alert(msg);
        });
    }

    function ResendDeclineEmail(memberId) {
        $.ajax({
            type: "GET",
            url: "/account/decline-again/",
            cache: false,
            dataType: "text",
            data: { id: memberId }
        }).done(function (msg) {
            alert(msg);
        }).fail(function () {
            alert("Sorry. Server unavailable.");
        });
    }
</script>
