@model IEnumerable<NUJ_Oyo_State.Models.ViewModels.MembersVM>

@{
    ViewBag.Title = "Members";
}


<section class="doctor_part single_page_doctor_part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section_tittle text-center">
                    <h2> Executives and Members </h2>
                </div>
            </div>
        </div>

        <div class="row">
            @foreach (var member in Model)
            {
                <div class="col-sm-6 col-lg-3">
                    <div class="single_blog_item">
                        <div class="single_blog_img">
                            @if (member.Image == null)
                            {
                                <img src="~/img/excos/user.jpg" alt="NUJ Excos">
                            }
                            else
                            {
                                <img src="@member.Image.Image1" alt="@member.FirstName @member.OtherNames" />
                            }
                        </div>
                        <div class="single_text">
                            <div class="single_blog_text">
                                <h6>Alhaji</h6>
                                <h3>@member.FirstName @member.OtherNames</h3>
                                <p>CHAIRMAN</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>


        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="~/img/excos/01.jpg" alt="NUJ Excos">
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h6>Alhaji</h6>
                            <h3>Ademola Babalola</h3>
                            <p>CHAIRMAN</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="~/img/excos/secretary.png" alt="NUJ Excos">

                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h6>Comrade</h6>
                            <h3>Samuel Olusola Gbenga B </h3>
                            <p>NUJ SECRETARY</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="~/img/excos/ass_sec.png" alt="NUJ Excos">

                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h6>Alhaji</h6>
                            <h3>Dauda Olugbade A.</h3>
                            <p>ASSISTANT SECRETARY</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="~/img/excos/nuj-2.png" alt="NUJ Excos">
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h6>Comrade</h6>
                            <h3>Akeem Babatunde A</h3>
                            <p>TREASURER</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>